@model IEnumerable<InnoShop.Domain.Models.ProdType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Категории";
}

<h2>Категории товаров</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/AdminRequired.js" asp-append-version="true"></script>
}