@model IEnumerable<InnoShop.Domain.Models.ProdType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Категории";
}

<h2>Категории</h2>

<div id="loading" style="display: block;">Загрузка...</div>
<div id="loadedItems" style="display: none;">
    <a class="blober" href="/ProdType/Create"><i class="fas fa-plus"></i> Добавить</a>
    <br />
    <br />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="itemsContainer">
        
    </tbody>
</table>
@section Scripts
{
    <script src="~/js/GetEnumerable.js" asp-append-version="true"></script>
    <script>
        async function func() { 
            await fetchItems(`${productHost}/ProdType`, 'ProdType');
        }
        func();
    </script>
}