@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Главная";
}
    <h2>InnoShop</h2>
    <h4 class="info">Это сайт невероятного магазина под названием InnoShop. Он был разработан командой энтузиастов из Гомеля, состоящей из одного человека. В состав команды входит Тимошенко Иван, студент группы ИТИ-31. Он является главным разработчиком и идейным вдохновителем данного интернет-магазина.</h4>

