@model IEnumerable<InnoShop.Domain.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Продукты";
    var page = Convert.ToInt32(Context.Request.Query["page"]);
}

<h2>Продукты</h2>

<p>
</p>
<div class="pagination">

    <div class="page-buttons">
        <a class="page-button" asp-controller="Product" asp-action="Index" asp-route-page=1>Первая</a>
            <a class="page-button" asp-controller="Product" asp-action="Index" asp-route-page=@(page - 1) style=@(page > 1?null:"visibility:hidden")> &lt;&lt;</a>
            <a class="page-button" asp-controller="Product" asp-action="Index" asp-route-page=@(page + 1) style=@(Model.Count()!=0?null:"visibility:hidden"))>
            &gt;&gt;</a>
    </div>
</div>
<div class="blobparent">
        @foreach (var item in Model)
        {
        <a class="blob" href="@Url.Action("Detail", new { id = item.Id })">
            <h1 class="blobtext">@Html.DisplayFor(modelItem => item.Name)</h1>
            <h5 class="blobdesc">@Html.DisplayFor(model=>item.Description)</h5>
        </a>
        }
</div>

