@model IEnumerable<InnoShop.Domain.Models.Locality>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Населенные пункты";
}

<h2>Населенные пункты</h2>

<div id="loading" style="display: block;">Загрузка...</div>
<div id="loadedItems" style="display: none;">
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="itemsContainer">
        
    </tbody>
</table>
</div>
@section Prescripts
{
    <script src="~/js/AdminRequired.js" asp-append-version="true"></script>
}
@section Scripts
{
    <script src="~/js/GetEnumerable.js" asp-append-version="true"></script>
    <script>
        async function func() { 
        items = await fetchItems("http://localhost:5036/Locality");
            displayItems(items,"http://localhost:5030/Locality");
        }
        func();
    </script>
}