﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.info
{
    text-align:justify;
}
.form-input
{
    background-color:black;
}
a:hover
{
    cursor:pointer;
}
.logo
{
    width:25px;
    transition:0.8s;
}
    .logo:hover {
        transform: scale(2,2) rotate(2turn);
    }
.navbar-inverse {
    background: #9c2f2f;
}
.nav.navbar-nav li a
{
    color:white;
    margin:5px;
    border-radius:5px;
    transition:0.2s;
}
.nav.navbar-nav li a:hover {
    background: #691f1f;
}
    .nav.navbar-nav li a:active {
        background: #350f0f;
        transform: scale(1.1,1.1)
    }
    
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 75px;
    padding-left:75px;
    padding-right:75px;
    background: #121212;
    color: white;
    border: 1px black solid;
    min-height: 100vh;
    
}
.body-navcontent {
    padding:75px 0px 0px 0px;
    float: right;
    text-align: center;
    width: 80%;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.pagination {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.page-select {
    margin-right: 10px;
}

    .page-select select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.page-buttons {
    display: flex;
    gap: 5px;
}

.page-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #222222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
    .page-button:active {
        text-decoration: none;
        color: white;
    }
    .page-button:focus {
        text-decoration: none;
        color: #9c2f2f;
    }

    .page-button:hover {
        background-color: white;
        color: black;
        text-decoration:none;
    }
.blobparent {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.blob {
    background: #222;
    border-radius: 10px;
    flex: 200px;
    flex: 1;
    max-width: 350px;
    min-width: 350px;
    flex-basis: 300px;
    height: 180px;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}
.blobtext {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    
    
}
.blobdesc {
    text-overflow: ellipsis;
    text-align:justify;
    height:30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blob:focus {
    text-decoration: none;
    color: #9c2f2f;
}

.blob:hover {
    background-color: #333;
    color:white;
    text-decoration: none;
}

.rightli
{
    float:right;
}

.unauthorizedinfo
{
    margin:auto;
    text-align:center;
    align-content:center;
}

.blober {
    background: #222;
    border-radius: 10px;
    max-width: 400px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin:auto;
    padding: 5px 10px;
}
    .blober:focus {
        text-decoration: none;
        color: #9c2f2f;
    }
    .blober:hover {
        background-color: #333;
        color: white;
        text-decoration: none;
    }

.blob.blob-add {
    align-content: center;
    text-align: center;
    background-color: #131;    
}
.blob.blob-add:hover {
    background-color: #242;
}
.detaildesc
{
    text-align:justify;
    vertical-align:top;
}
.detailsitems
{
    height:10px;
    vertical-align:top;
}
.lastdetailsitems {
    vertical-align: top;
}
aside {
    position: fixed;
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside h3
{
    margin-top:50px;
}
.prodNavig {
    background: #181818;
    min-height:100px;
    align-items:center;
    justify-content:center;
    margin-top:-15px;
    display:flex;
}

    .prodNavig a {
        color: white;
        padding:20px;
        background: #181818;
        margin: 5px;
        border-radius: 5px;
        transition: 0.2s;
    }

.prodNavig a:hover {
    background: #101010;
    text-decoration:none;
}

.prodNavig a:active {
    background: #080808;
    transform: scale(1.1,1.1);
    text-decoration:none;
}

.pendingItem
{
    background: #332;
}
.boughtItem {
    background: #232;
}
.pendingItem:hover {
    background: #443;
}

.boughtItem:hover {
    background: #343;
}

#tags-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
}

#tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background: #eee;
    color:#000;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

    .tag button.remove-tag {
        background: transparent;
        border: none;
        color: red;
        font-size: 14px;
        cursor: pointer;
    }