<li><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-page=1>Продукты</a></li>
<li><a asp-area="" asp-controller="Locality" asp-action="Index">Населенные пункты</a></li>
<li><a asp-area="" asp-controller="ProdType" asp-action="Index">Категории</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="FillDb">Заполнить базу</a></li>