<li><a href="http://localhost:5036/Product?page=1">Продукты</a></li>
<li><a href="http://localhost:5036/Locality" >Населенные пункты</a></li>
<li><a href="http://localhost:5036/Categories">Категории</a></li>
<li><a href="http://localhost:5036/Home/FillDb">Заполнить базу</a></li>