@model IEnumerable<InnoShop.Domain.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Продукты";
    var page = Convert.ToInt32(Context.Request.Query["page"]);
}

<h2>Продукты</h2>


<div id="loading" style="display: block;">Загрузка...</div>
<div id="loadedItems" style="display: none;">
<div class="blobparent" id="blobparent">

</div>
</div>
@section Scripts
{
    <script src="~/js/GetUserProducts.js" asp-append-version="true"></script>
    <script>
        var page = 1;
        window.addEventListener('scroll', async function () {
            // Проверяем, достигли ли мы конца страницы
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                page++;
                await go(page);
            };
        });
        async function go(paged) {
            await fetchItems(`http://localhost:5036/Product?page=${paged}`, 'Product');

        }
        go(1);
    </script>
}

