@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Продукты";
    var page = Convert.ToInt32(Context.Request.Query["page"]);
}
@section PageNav
{
<partial name ="_ProductNavPartial" />

}
<h2>Продукты</h2>


<div id="loadedItems" style="display: block;">
<div class="blobparent" id="blobparent">

</div>
</div>
@section Scripts
{
    <script src="~/js/GetUserProducts.js" asp-append-version="true"></script>
    <script>
        var page = 1;
        var isGoing = true;
        formData = new FormData(document.getElementById(`filterForm`))
        window.addEventListener('scroll', async function () {
            prevHeight = this.document.body.scrollHeight;

            // Проверяем, достигли ли мы конца страницы
            if (window.innerHeight + window.scrollY >= document.body.scrollHeight && isGoing) {
                page++;
                console.log(page);
                await go(page);
                if (prevHeight == this.document.body.scrollHeight)
                    isGoing = false;
            };
        });
        async function go(paged) {
            await fetchItems(`http://localhost:5036/Product?page=${paged}`, 'Product');

        }
        go(1);
        document.getElementById('filterForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Отменяем стандартное поведение формы
            page = 1;
            document.getElementById("blobparent").innerText = "";
            formData = new FormData(this); // Собираем данные формы
            // Проверка на пустые поля (если нужно)
            await go(page);
        });

    </script>
}

