@model InnoShop.Domain.Models.User

@{
    ViewData["Title"] = "Профиль";
}
<h1>Профиль пользователя</h1>

<div id="loading" style="display: block;">Загрузка...</div>
<div id="userProfile" style="display: none;">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">User Name</dt>
        <dd class="col-sm-10" id="userName">N/A</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10" id="email">N/A</dd>

        <dt class="col-sm-2">Locality</dt>
        <dd class="col-sm-10" id="localityName">N/A</dd>

        <dt class="col-sm-2">User Type</dt>
        <dd class="col-sm-10" id="userTypeName">N/A</dd>

        <!-- Добавьте другие поля аналогично -->
    </dl>
    <a class="btn btn-info" id="prodBtn">Продукты</a>
</div>
<br />
@section Prescripts
{
    <script src="~/js/Authorize.js" asp-append-version="true"></script>
}
@section Scripts
{
    <script>
        async function go() { 
        user = await auth("@ViewBag.Host.User");
            document.getElementById('userName').innerText = user.userName || 'N/A';
            document.getElementById('userTypeName').innerText = user.userType?.name || 'N/A';
            document.getElementById('localityName').innerText = user.locality?.name || 'N/A';
            document.getElementById('email').innerText = user.email || 'N/A';
            document.getElementById('prodBtn').setAttribute('href',`Account/Products`);
            document.getElementById('loading').remove();
            document.getElementById('userProfile').style.display = 'block';
        }
        go();
    </script>
}
