@model InnoShop.DTO.Models.UserLoginDTO
@{
    ViewData["Title"] = "Login";
}
<h1>Вход</h1>
<form id="loginForm">
    <div class="form-group">
        <label for="UserName" class="control-label">Имя пользователя:</label>
        <input type="text" id="UserName" name="UserName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Password" class="control-label">Пароль:</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
    </div>
    <button id="but" type="submit" class="btn btn-primary">Войти</button>
</form>
<div id="result"></div>
@section Scripts
{
    <script>
    document.getElementById('loginForm').addEventListener('submit',async function(e) {
    e.preventDefault(); // Предотвращаем стандартное поведение формы

    const username = document.getElementById('UserName').value;
    const password = document.getElementById('Password').value;
        try {
            // Выполняем POST-запрос
            const response = await fetch('http://localhost:5069/User/Login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    UserName: username,
                    Password: password
                })
            })
            if (!response.ok) {
                throw new Error('Ошибка входа: ' + response.statusText);
            }
            const token = await response.text(); // Предполагаем, что сервер возвращает JSON с токеном
            // Сохраняем токен в localStorage или sessionStorage
            localStorage.setItem('jwtToken', token);
            updateAuthButtons();
            window.location.href = '/User';
        } catch (error) {
                console.error('Ошибка:', error);
                document.getElementById("result").textContent = 'Ошибка: ' + error.message; // Отображение ошибки
        }
});
    </script>
 }