@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Продукты";
    var page = Convert.ToInt32(Context.Request.Query["page"]);
}

<h2>Продукты пользователя</h2>

<p>
</p>
<div id="loadedItems" style="display: block;">
<div class="blobparent" id="blobparent">
    <a id="add" class="blob blob-add" href="@Url.Action("Create", "Product")">
        <h1 class="blobtext">Добавить товар</h1>
        <h1 class="blobtext"><i class="fas fa-plus"></i></h1>
    </a>
</div>
</div>
@section PageNav
{
    <partial name="_ProductNavPartial" />

}
@section Prescripts
{
    <script src="~/js/Authorize.js" asp-append-version="true"></script>
}
@section Scripts
{
    <script src="~/js/GetUserProducts.js" asp-append-version="true"></script>
    <script>
        formData = new FormData(document.getElementById(`filterForm`))
        async function go()
        {
            user = await auth();
            await fetchItems(`http://localhost:5036/Product/ForUser/${user.id}`, 'Product');
        }
        
        go();
        document.getElementById('filterForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Отменяем стандартное поведение формы
            document.getElementById("blobparent").innerText = "";
            formData = new FormData(this); // Собираем данные формы
            // Проверка на пустые поля (если нужно)
            await go();
        });
    </script>
}