@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Продукты";
    var page = Convert.ToInt32(Context.Request.Query["page"]);
}




<div class="prodNavig">
    <a id="myProds">Мои продукты</a> 
    <a id="pendingProds">Требующие подтверждения</a> 
    <a id="boughtProds">Купленные продукты</a> 
</div>
<div id="loadedItems" style="display: block;">
<div class="blobparent" id="blobparent">
    
</div>
</div>
@section PageNav
{
    <partial name="_ProductNavPartial" />

}
@section Prescripts
{
    <script src="~/js/Authorize.js" asp-append-version="true"></script>
}
@section Scripts
{
    <script>
        user = auth(userHost);
    </script>
    <script src="~/js/GetUserProducts.js" asp-append-version="true"></script>
    <script src="~/js/ProductSections.js" asp-append-version="true"></script>
    <script>
        formData = new FormData(document.getElementById(`filterForm`))

        addCreateBtn();
        mainFunc();
        document.getElementById('filterForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Отменяем стандартное поведение формы
            document.getElementById("blobparent").innerText = "";
            addCreateBtn();
            formData = new FormData(this); // Собираем данные формы
            // Проверка на пустые поля (если нужно)
            await mainFunc();
        });
    </script>
}