@{
    ViewData["Title"] = "Необходима авторизация";
}
<div class="unauthorizedinfo">
    <h1>Вы не авторизованы</h1>
    <hr />
    <h3>Есть аккаунт?</h3>
    <a asp-action="Login" class="btn btn-primary" >Войти</a>
    <br />
    <h3>Впервые на сайте?</h3>
    <a asp-action="Register" class="btn btn-primary">Регистрация</a>
</div>